.header {
  background-color: blue;
  border: 1px solid black;
}

a {
  color: rgb(0, 204, 255);
}

.importanza {
  background-color: yellow;
}

thead {
  background-color: rgb(0, 170, 255);
  color: white;
  text-align: center;
}
.riga_azzura {
  background-color: aquamarine;
  color: black;
}

h2 {
  color: grey;
}
